 //color
 $orange :#fb641b;
 $red:#e90000;
 $list-border :#f0f0f0;
 $light-gray: #f3f3f3;
 $counter-border:#c2c2c2;
 $btn-gray-border:#e0e0e0;
 $text-list:#676767;
 $inactive :#e6e6e6;
 $basket-text : #212127;