@import "color.scss";
@import "button.scss";
#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
  }
  .container{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    .header{
      display: inline-block;
      width: 100%;
      clear: both;
      position: relative;
      margin-top: 20px;
    }
    .footer-button-container{
      -webkit-box-shadow: 0px -5px 7px 0px rgba(209, 209, 209, 1); 
      box-shadow: 0px -5px 7px 0px rgb(209, 209, 209); 
      padding: 20px;
      background: #fff;
      margin-top: 40px;
      a{
        margin-right: 10px;
      }
      @media (max-width:767px){
        position: fixed;
        bottom: 0;
        width: 100%;
        margin: 0;
        left: 0;
        display: flex;
      }
    }
   
  }
 .logo{
  width: 100%;
  max-width: 100px;
  float: left;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0;
  padding: 0;
}
a {
  color: $text-list;
}

h1{
  font-size: 22px;
  text-align: left;
}

